:root {
    --zero: 0px;
    --vw100: 100vw;
    --vh100: 100vh;
    --hidden: hidden;
    --header: 2.5rem;
    --subheader: 2rem;
    --important: 1.5rem;
    --paragraph: 1rem;
    --subparagraph: 0.75rem;
}

.m0 {
    margin: var(--zero);
}

.w100vw {
    width: var(--vw100);
}

.h100vh {
    height: var(--vh100);
}

.max-w100vw {
    max-width: var(--vw100);
    overflow-x: var(--hidden);
}

.min-h100vh {
    min-height: var(--vh100);
}

.fixed {
    position: fixed;
}

.top {
    top: var(--zero);
}

.right {
    right: var(--zero);
}

.bottom {
    bottom: var(--zero);
}

.left {
    left: var(--zero);
}

.inter {
    font-family: "Inter", sans-serif;
}

.kaushan {
    font-family: "Kaushan Script", cursive;
}

.header {
    font-size: var(--header);
}

.subheader {
    font-size: var(--subheader);
}

.important {
    font-size: var(--important);
}

.paragraph {
    font-size: var(--paragraph);
}

.subparagraph {
    font-size: var(--subparagraph);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.vcenter {
    align-items: center;
}

.hcenter {
    justify-content: center;
}
